body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  padding: 10px 20px;
  color: white;
  position: relative;
  align-items: center;
}

.logo a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

/* Menú de navegación siempre visible en pantallas grandes y dentro del menú hamburguesa en pantallas pequeñas */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  flex-direction: row;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-links li a:hover {
  text-decoration: underline;
}

.menu-icon {
  display: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
}
.user-menu-items {
  list-style: none;
  display: flex;
  gap: 20px;
  flex-direction: row;
}

/* Responsive Navbar */
@media (max-width: 600px) {
  /* Menú de navegación se oculta en pantallas pequeñas */
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: rgba(51, 51, 51, 0.8);
    padding: 10px 0;
    z-index: 1000;
    border: 1px solid white;
  }

  /* Mostrar el menú cuando está activo */
  .nav-links.active {
    display: flex;
  }

  /* Mostrar el icono del menú hamburguesa */
  .menu-icon {
    display: block;
  }

  /* Estilo para cada enlace en el menú hamburguesa */
  .nav-links li {
    text-align: center;
    padding: 10px 0;
    width: 100%;
  }

  .nav-links li a {
    font-size: 20px;
  }
  .notification-icon {
    margin-left: auto;
    margin-right: 20px;
  }
  .user-links {
    padding: 10px 0;
    border-top: 1px solid white;
  }
}

@media (min-width: 601px) {
  /* En pantallas grandes, las opciones de usuario están en el mismo menú hamburguesa */
  .menu-icon {
    display: block;
  }

  .nav-links {
    display: flex;
    gap: 20px;
    flex-direction: row;
    width: auto; /* Asegura que no se expanda innecesariamente */
  }

  /* No se requiere la clase active aquí porque el menú está visible por defecto en pantallas grandes */
  .nav-links li {
    text-align: center;
  }

  /* Si deseas que el tamaño de los enlaces cambie en pantallas grandes, puedes hacerlo aquí */
  .nav-links li a {
    font-size: 18px;
  }
  /*Oculta los elementos de usuario de la navbar en pantallas grandes*/
  .notification-icon {
    margin-left: auto;
    margin-right: 20px;
  }
  .user-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 90px;
    left: 0;
    background-color: rgba(51, 51, 51, 0.8);
    padding: 10px 0;
    z-index: 1000;
    border: 1px solid white;
  }
  .user-links.active {
    display: flex;
  }
  .user-links li {
    text-align: center;
    padding: 10px 0;
    width: 100%;
  }

  .user-links li a {
    font-size: 20px;
  }
}
